venv/
*.sqlite3
__pycache__/
.idea/
.vscode/
*.pdf
*.docx
*.doc
*.jpg
*.jpeg
*.png
*.webp
*.jfif
*.xls
*.xlsx
*.tex
*.ipynb
*.zip
myproject/
web-programming-clean/
web-programming-2024/
favorite-places/
